.main-container{
    display: flex;
    justify-content: center;
}
.form-container{
    width: 500px;
    border: 2px solid rgb(4, 4, 74);
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
}
.message-alert{
    background-color: rgb(224, 213, 110);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    color: red;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    width: fit-content;
}
@media screen and (max-width: 999px) {
    .form-container {
        width: 400px;
    }
}
.form-container input{
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #000000 !important;
    margin-top: 0;
    font-weight: 500;
}
.form-control:focus ,.form-select:focus{
    border-color: rgb(0, 0, 0) !important;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 255) !important;
}