.home-link{
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
}
#search{
    width: 400px ;
    margin-left: 40px !important;
    background-color: rgb(49, 49, 49) !important;
    border-radius: 40px;
    border: 2px solid rgb(158, 158, 158);
}
.home-link:hover{
    color: rgb(211, 208, 208);
    text-decoration: underline;
}
.search-container {
    position: relative;
    display: inline-block;
  }
  
  .search-container input {
    padding-right: 30px; 
  }
  
  .search-container svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
  }
  hr{
    color: white;
  }
  .inbox{
    color: rgb(195, 195, 195);
     
  }
  .sender-name{
    font-size: 1.2rem;
    font-weight: 500;

  }
  .mailmenu{
    height: 100vh;
  }
  .compose{
    margin-top: 10px;
    line-height: 2.5rem;
    width: 150px;
    border-radius: 30px;
    font-weight: 500;
    color: rgb(68, 68, 68);
    font-size: large;
  }
  .inbox-container{
    /* padding-top: 10px; */
    border-radius: 5px;
    color: rgb(195, 192, 192);
  }
  .inbox-container:hover{
    color: rgb(255, 255, 255);
     
    cursor: pointer;
  }
 #recipent,#subject{
    background: transparent !important;
    border: none !important;
    margin-left: 5px;
    font-weight: 500;
    width: 90%;
    border-bottom: 1px solid #767676 !important;
    
}
 
#recipent:focus , #subject:focus{
    outline: none;
    border-bottom: 1px solid #767676 !important;

}
.button-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.active{
  cursor: pointer;
  background-color: #969292 !important;
  color:black !important;
}
.button-container a:hover{
  cursor: pointer;
  background-color: #969292 !important;
  color:black
}
.button-container a{
  margin:5px  10px 5px  10px;
  line-height: 2.8rem;
  border-radius: 20px;
  color: white;
  text-align: center;
  background-color: rgb(49, 49, 49);
  text-decoration: none;
}
